@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --darkDesBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);
  --darkGrayBlue: hsl(237, 12%, 33%);
  --darkGrayBlue: hsl(240, 6%, 50%);
  --lightGrayishBlue: hsl(240, 5%, 91%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

main {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  padding: 3rem 0;
}

.container {
  /* outline: 1px solid black; */
  max-width: 90%;
  margin: 0 auto;
}

.heroImg {
  /* outline: 1px solid red; */
  text-align: center;
}

.desktop {
  display: none;
}

.womenOnlineMobile {
  margin-right: 2rem;
}

.background {
  margin-top: -10rem;
  margin-left: 2rem;
}

.faq {
  /* outline: 1px solid blue; */
  border-radius: 1.5rem;
  background-color: white;
  margin-top: -7rem;
  padding: 8rem 1.2rem 2rem 1.2rem;
}

.faq h1 {
  text-align: center;
  color: var(--darkDesBlue);
  margin-bottom: 2rem;
}

.col {
  margin-bottom: 1rem;
  cursor: pointer;
}

.col:hover .arrowIcon {
  transform: rotate(180deg);
}

.box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.questionAnswer {
  flex-basis: 95%;
}

.question {
  transition: 0.3s;
}

.question:hover {
  color: var(--softRed);
}

.arrowIconDiv {
  flex-basis: 5%;
  text-align: center;
}

.arrowIcon {
  cursor: pointer;
  width: 70%;
  transition: 0.3s;
}

.arrowIconRotate {
  transform: rotate(180deg);
}

p {
  font-size: 0.88rem;
  font-size: 400;
  color: var(--darkGrayBlue);
}

.changeColor {
  color: var(--darkDesBlue);
  font-weight: 700;
}

.answer {
  display: none;
  margin-top: 1rem;
}

.showAnswer {
  display: block;
}

.borderBottom {
  border: 1px solid var(--lightGrayishBlue);
}

@media (min-width: 25rem) {
  .container {
    max-width: 22.5rem;
  }
}

@media (min-width: 81.25rem) {
  main {
    min-height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 55rem;
    display: flex;
    border-radius: 1.5rem;
    margin: 0;
    flex-basis: 100%;
  }

  .heroImg {
    flex-basis: 40%;
    display: flex;
    justify-items: center;
    align-items: center;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
    position: relative;
  }

  .womenOnlineDesktop {
    max-width: 100%;
  }

  .boxDesktop {
    position: absolute;
    top: 6rem;
    left: -4rem;
    animation: moveUp 4.5s ease-in-out infinite alternate;
  }

  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  .faq {
    flex-basis: 60%;
    margin-top: 0;
    padding: 3rem;
    border-radius: 0;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .questionAnswer {
    padding: 0 1rem;
  }
}
