@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --darkDesBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);
  --darkGrayBlue: hsl(237, 12%, 33%);
  --darkGrayBlue: hsl(240, 6%, 50%);
  --lightGrayishBlue: hsl(240, 5%, 91%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 100vh;
}

.container {
  /* outline: 1px solid black; */
  max-width: 90%;
  margin: 3rem auto;
}

.imgDivMobile {
  width: 100%;
}

.imgMobile {
  width: 90%;
  background-image: url(./images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: right 0.8rem bottom -0.1rem;
}

.boxImg {
  display: none;
}

.faq {
  margin-top: -6.5rem;
  padding: 7rem 1rem 3rem 1rem;
  background-color: white;
  border-radius: 1.5rem;
}

.faq h1 {
  text-align: center;
  margin-bottom: 2.5rem;
}

.box {
  margin-top: 1.5rem;
}

.box p {
  font-size: 0.88rem;
  color: var(--darkGrayBlue);
}

.questionAnswer {
  margin-bottom: 0.5rem;
}

.questionArrow {
  /* outline: 1px solid black; */
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.1rem 0;
}

.questionArrow:hover .question {
  color: var(--darkDesBlue);
}

.question {
  transition: 0.5s ease-in-out;
}

.question.bold {
  font-weight: 600;
  color: var(--darkDesBlue);
}

.arrowIcon {
  flex-basis: 5%;
  transition: 0.3s;
}

.arrowIcon.rotate {
  transform: rotate(180deg);
}

.answer {
  /* outline: 1px solid red; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  color: var(--dark-grey-blue);
}

.border {
  height: 2px;
  background-color: var(--lightGrayishBlue);
}

/***** MEDIA QUERIES *****/

@media (min-width: 23.5rem) {
  .container {
    max-width: 21.094rem;
  }
}

@media (min-width: 75rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  .container {
    max-width: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 1px 10px 100px 1px rgba(0, 0, 0, 0.5);
  }

  .imgDiv {
    /* outline: 1px solid red; */
    flex-basis: 40%;
    position: relative;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -2rem top 0;
    padding: 2rem 0;
  }

  .imgDivMobile {
    display: none;
  }

  .imgDivDesktop {
    /* outline: 1px solid green; */
    background-image: url("./images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -3rem top 0rem;
    height: 300px;
  }

  .boxImg {
    display: block;
    position: absolute;
    left: -5rem;
    top: 35%;
    animation: moveUp 4.5s ease-in-out infinite alternate;
  }

  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  .faq {
    flex-basis: 60%;
    border-radius: 0;
    margin-top: 0rem;
    padding: 2rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .faq h1 {
    text-align: left;
  }
}
